@use "./normalize.scss";
@use "./typography.scss" as font;
@use "./tx-dropdown.scss";
@use "./tx-checkbox.scss";
@use "./tx-spinner.scss";
@use "./tx-button.scss";

#root {
  @include font.body-font;
}

body {
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
